/* HTML BODY */
body {
    margin: 0;
}
/* THREE.JS CANVAS ELEMENT */
#c {
    width: 100%;
    height: 100%;
    display: absolute;
}
#canvas {
    width: 100%;
    height: 100%;
}
#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: black;
}
/* LABEL TO PLACE OVER PLANET */
#labels {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
}
#labels>div {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    font-size: large;
    user-select: none;
}
#labels>div:hover {
    color: red;
}
/* STYLES FOR OVERLAY BACKGROUND */
.collapsible {
    background-color: transparent;
    padding: 12px;
    color: white;
    cursor: pointer;
    width: 100%;
    border: 2px solid gray;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: #555;
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
    width: 100%;
}
.deepContent {
    height: 100%;
    color: white;
    border: 2px solid gray;
    padding-left: 9px;
}
/* STYLES FOR BOTTOM NAV BAR */
.navbar {
    background-color: grey;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 10%;
}
.navbar button {
    float: left;
    background-color: transparent;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    border-style: solid;
    border-width: 2px;
    border-color: #555;
    width: 50%;
    box-sizing: border-box;
    height: 100%;
}
.navbar button:active {
    background-color: white;
}
.navbar button img {
    top: 50%;
    height: 50%;
}
/* STYLE FOR OVERLAY */
#overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    -ms-overflow-style: none;
}
#overlay::-webkit-scrollbar {
    display: none;
}
/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    /*top: 25%; /* 25% from the top (((TODO: CHANGE WHEN CONTENT CHANGE*/
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens (((TODO: CHANGE WHEN CONTENT CHANGE*/
    color: white; /*TODO: CHANGE WHEN CONTENT CHANGE*/
}
/* The navigation links inside the overlay */
#overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
  
/* When you mouse over the navigation links, change their color */
#overlay a:hover, #overlay a:focus {
    color: #f1f1f1;
}
/* BUTTONS FOR OVERLAY */
.backbtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 120px;
    z-index: 2;
    border-style: none;
    color: #818181;
    text-decoration: none;
}
.backbtn:focus, .backbtn:hover {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
#overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 120px;
    z-index: 3;
}
  
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    #overlay a {font-size: 20px}
    #overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}
/* PLANET INFO IN OVERLAY CONTENT */
.info {
    width: 90%; 
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.edit-text-container {
    text-align: center;
    /* height: 8vh; */
}
.edit-text-container h1 {
    font-size: 56px;
    display: inline-block;
    margin: 20px 5px 0px 0px;
}
.edit-text-container h3 {
    font-size: 28px; 
    margin:  10px 15px 28px 0px; 
    font-weight: lighter;
    display: inline-block;
}
.info>p {
    margin:  28px 0px 10px 0px; 
    /* height: 10%;  */
    font-size: 26px; 
    overflow: hidden;
}

#image {
    width: 100%;
}
#imgButton {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#imgLabel {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: red;
    position: absolute;
    width: 100%;
}

.planet-facts {
    width: 100%; 
    height: 35vh; 
}
.planet-facts>div {
    box-sizing:border-box;
    /* flex-direction: row;
    display: flex;
    justify-content: center; */
}
.fact-container {
    width: 43%;
    display: inline-block;
    box-sizing:border-box;
    margin: 20px;
    text-align: left;
}
.fact-container>p {
    font-size: 20px;
    margin-top: 13px;
}
.fact {
    border-bottom: 2px solid grey; 
    display: flex; 
    flex-direction: row;
}
.fact>div {
    width: auto;
    max-width: 50%;
    height: 74px;
    font-size: 60px;
    overflow: auto;
    word-wrap: break-word;
    color: #EC8213;
}
/* STYLE FOR MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: transparent;
    color: white;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-header>h2 {
    margin: 0;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}
  
/* Modal Footer */
/* .modal-footer {
    padding: 2px 16px;
    background-color: skyblue;
    color: white;
} */
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    border: none;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* STYLE FOR TABS IN MODAL CONTENT */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: transparent;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border-style: 2px solid skyblue;
    outline: none;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
    width: 50%;
    color: white;
    font-size: 2vh;
    text-align: center;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    height: 100%;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent input {
    vertical-align: text-top;
    height: 75%;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}